<!--CARD 1-->
<div class="body-card" *ngFor="let medic of medici">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ medic.nume }}</mat-card-title>
      <mat-card-subtitle>{{ medic.specializare }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ medic.imagine }}" />
    <mat-card-content>
      <p>
        {{ medic.descriere }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Mai multe detalii...</button>
    </mat-card-actions>
  </mat-card>
</div>

<!--CARD 2-->
<!-- <div class="body-card">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Dr. Debora Bianca</mat-card-title>
        <mat-card-subtitle>Medic Specialist Pneumologie</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets\Pictures\doctor-debora.jpg"
        alt="Doctor Debora Katarina"
      />
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Mai multe detalii...</button>
      </mat-card-actions>
    </mat-card>
  </div> -->

<!--CARD 3-->
<!-- <div class="body-card">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Dr. Aurelius Andrei</mat-card-title>
        <mat-card-subtitle
          >Medic Specialist Chirurgie generală</mat-card-subtitle
        >
      </mat-card-header>
      <img
        mat-card-image
        src="assets\Pictures\doctor-aurelius.jpg"
        alt="Doctor Aurelius Andrei"
      />
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Mai multe detalii...</button>
      </mat-card-actions>
    </mat-card>
  </div> -->

<!--CARD 4-->
<!-- <div class="body-card">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Dr. Meka Madalin-Constantin</mat-card-title>
        <mat-card-subtitle>Medic Specialist Dermatologie</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets\Pictures\doctor-meka.jpg"
        alt="Doctor Meka Madalin"
      />
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Mai multe detalii...</button>
      </mat-card-actions>
    </mat-card>
  </div> -->

<!--CARD 5-->
<!-- <div class="body-card">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Dr. Luca Adriana</mat-card-title>
        <mat-card-subtitle>Medic Specialist Dermatologie</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets\Pictures\doctor-luca.jpg"
        alt="Doctor Luca Adriana"
      />
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Mai multe detalii...</button>
      </mat-card-actions>
    </mat-card>
  </div> -->

<!--CARD 6-->
<!-- <div class="body-card">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Dr. Nedelcu Alexandru-Ionut</mat-card-title>
        <mat-card-subtitle
          >Medic Specialist Neurologie și Psihiatrie</mat-card-subtitle
        >
      </mat-card-header>
      <img
        mat-card-image
        src="assets\Pictures\doctor-nedelcu.jpg"
        alt="Doctor Nedelcu Alexandru-Ionut"
      />
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Mai multe detalii...</button>
      </mat-card-actions>
    </mat-card>
  </div> -->

<!--CARD 7-->
<!-- <div class="body-card">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Dr. Popescu Cezar</mat-card-title>
        <mat-card-subtitle>Medic specialist Cardiologie</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets\Pictures\doctor-popescu.jpg"
        alt="Doctor Popescu Cezar"
      />
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Mai multe detalii...</button>
      </mat-card-actions>
    </mat-card>
  </div> -->

<!--CARD 8-->
<!-- <div class="body-card">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Dr. Iosif Sofia</mat-card-title>
        <mat-card-subtitle>Medic Specialist Pneumologie</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        src="assets\Pictures\doctor-iosif.jpg"
        alt="Doctor Iosif Sofia"
      />
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Mai multe detalii...</button>
      </mat-card-actions>
    </mat-card>
  </div> -->

<!--CARD 9-->
<!-- <div class="body-card">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Dr. Marc Lewwis</mat-card-title>
        <mat-card-subtitle
          >Medic Specialist Chirurgie generală</mat-card-subtitle
        >
      </mat-card-header>
      <img
        mat-card-image
        src="assets\Pictures\doctor-marc.jpg"
        alt="Doctor Marc Lewwis"
      />
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz
          breeds of dog from Japan. A small, agile dog that copes very well with
          mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Mai multe detalii...</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div> -->
