<mat-toolbar>
  <a [routerLink]="['/']">
    <span>
      <img
        class="logo"
        src="assets/Pictures/logo.png"
        alt="Background Picture"
      />
    </span>
  </a>

  <span class="example-spacer"></span>
  <button *ngIf="isPatient" routerLink="/echipa" mat-button>Echipa</button>
  <button *ngIf="isPatient" routerLink="/contact" mat-button>Contact</button>
  <span class="example-center"></span>

  <button *ngIf="isPatient" routerLink="/calendar" mat-button>
    Programare
  </button>
  <button *ngIf="isAdmin" routerLink="/admin-tabel-medici" mat-button>
    Medici
  </button>
  <button *ngIf="isAdmin" routerLink="/admin-tabel-pacienti" mat-button>
    Pacienti
  </button>
  <button *ngIf="isAdmin" routerLink="/admin-tabel-admini" mat-button>
    Admini
  </button>
  <button *ngIf="isAdmin" routerLink="/form-creare-admin" mat-button>
    Adăugare admin
  </button>
  <button
    *ngIf="isMedic || isPatient || isAdmin"
    routerLink="/medic-tabel-programari"
    mat-button
  >
    Programările mele
  </button>

  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <button
    (click)="openDialog()"
    *ngIf="isLoggedOut()"
    [disabled]="buttonDisabled"
    mat-raised-button
    color="warn"
  >
    Programare
  </button>

  <button *ngIf="!user" routerLink="/cart" mat-button>
    <strong>Logare</strong>
  </button>
  <button *ngIf="user" (click)="logout()" mat-button>
    <strong>Delogare</strong>
  </button>
</mat-toolbar>
