<!-- <a routerLink="/cart" class="button fancy-button">
  <i class="material-icons">shopping_cart</i>Checkout
</a> -->

<mat-toolbar>
  <a [routerLink]="['/']">
    <span>MILLENIUM</span>
  </a>

  <span class="example-spacer"></span>
  <button routerLink="/cart" mat-button>Echipa</button>
  <button routerLink="/cart" mat-button>Contact</button>
  <span class="example-center"></span>
  <button routerLink="/cart" mat-button>Logare</button>

  <span class="example-spacer"></span>
  <!--asezare in dreapta-->
  <button routerLink="/cart" mat-raised-button color="warn">Programare</button>
</mat-toolbar>
