.clinica {
  position: absolute;
  left: 45px;
  top: 120px;

  font-family: 'Inter';
  font-size: 105px;
  letter-spacing: 0.1px;

  color: #000000;
}

.millenium {
  position: absolute;
  left: 45px;
  top: 225px;

  font-family: 'Inter';
  font-size: 100px;
  letter-spacing: 0.1px;

  color: #000000;
}

.second-text {
  position: absolute;
  left: 45px;
  top: 345px;

  font-family: 'Inter';
  font-style: normal;
  font-size: 33px;
  letter-spacing: -0.1px;

  color: rgba(0, 0, 0, 0.65);
}

.first-text1 {
  position: absolute;
  left: 45px;
  top: 390px;

  font-family: 'Inter';
  font-style: normal;
  font-size: 20px;
  letter-spacing: -0.1px;

  color: rgba(0, 0, 0, 0.55);
}

.first-text2 {
  position: absolute;
  left: 45px;
  top: 420px;

  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-size: 18px;
  letter-spacing: -0.1px;

  color: rgba(0, 0, 0, 0.55);
}

img {
  position: absolute;
  width: 1600px;
  height: 687px;
  margin-left: -200px;
}

.button {
  top: 440px;
  left: 118px;
}
