.clinica {
  /* Clinica */
  position: absolute;
  width: 500px;
  height: 100px;
  left: 45px;
  /* top: 223px; */

  margin-top: 80px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 90px;
  line-height: 30px;
  /* or 22% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.31px;

  color: #000000;
}

.millenium {
  /* MILLENIUM */

  position: absolute;
  width: 700px;
  height: 22px;
  left: 45px;
  top: 280px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400; /*grosime*/
  font-size: 90px;
  line-height: 30px;
  /* identical to box height, or 22% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.31px;

  color: #000000;
}

.first-text1 {
  position: absolute;
  width: 599px;
  height: 157px;
  left: 45px;
  top: 290px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 340;
  font-size: 18px;
  line-height: 30px;
  /* or 150% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.31px;

  color: rgba(0, 0, 0, 0.55);
}

.first-text2 {
  position: absolute;
  width: 599px;
  height: 157px;
  left: 45px;
  top: 330px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 340;
  font-size: 18px;
  line-height: 30px;
  /* or 150% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.31px;

  color: rgba(0, 0, 0, 0.55);
}

.second-text {
  position: absolute;
  width: 637px;
  height: 93px;
  left: 45px;
  top: 415px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 26px;
  /* or 74% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.31px;

  color: rgba(0, 0, 0, 0.65);
}

.medic-main-picture {
  float: right;
  margin-left: 550px;
  margin-top: 30px;
}

/* .blue-shapes {
  float: right;
  position: absolute;
  width: 1000px;
  height: 100px;
  left: 300px;
  top: 650px;

  background: #abd2f1;
} */

.button {
  top: -190px;
  left: 70px;
}
