<div>
  <div>
    <img src="assets/Pictures/blur-hospital-4.jpg" alt="Main Page Picture" />
  </div>

  <p class="clinica">Clinica</p>
  <p class="millenium">MILLENIUM</p>
  <div>
    <p class="second-text">Ceea ce facem, facem din inimă!</p>
    <p class="first-text1">
      Efectuează o programare la una dintre cele mai bune clinici.
    </p>
    <p class="first-text2">
      Echipa noastră de medici este pregatită să îți redea din nou pofta
      <br />
      de viață.
    </p>
  </div>

  <button
    *ngIf="isLoggedOut()"
    routerLink="/cont-nou"
    class="button"
    mat-raised-button
    color="warn"
  >
    Creează cont!
  </button>
</div>
