.demo-inline-calendar-card {
  width: 300px;
}

.div1 {
  display: inline-block;
  margin-top: 40px;
  margin-left: 20px;
}

.div_calendar {
  /* float: left; */
  margin-top: 115px;
  margin-left: 20px;
}

button {
  margin-top: 20px;
}

.background-picture {
  position: absolute;
  width: 1590px;
  height: 870px;
  margin-left: -200px;
}

.example-card {
  max-width: 300px;
  margin-top: 20px;
}

.form {
  text-align: center;
  width: 500px;
  height: 770px;
  margin-left: 350px;
  /* background-color: #abd2f1; */
  background-color: #abd2f1b0;
  margin-top: -830px;
  margin-left: 730px;
}

.color {
  color: rgba(0, 0, 0, 0.55);
}

mat-form-field {
  height: 80px;
}
