.demo-inline-calendar-card {
  width: 300px;
}

.div1 {
  display: inline-block;
  margin-top: 40px;
  margin-left: 30px;
}

.div_calendar {
  float: right;
  margin-top: 40px;
  margin-left: 100px;
}

button {
  margin-top: 20px;
}

.background-picture {
  position: absolute;
  width: 1600px;
  height: 687px;
  margin-left: -200px;
}

.example-card {
  max-width: 300px;
  margin-top: 20px;
}

.form {
  text-align: center;
  width: 500px;
  margin-left: 350px;
  background-color: #abd2f1;
}

.color {
  color: rgba(0, 0, 0, 0.55);
}

.selecteaza-ora {
  position: absolute;
  width: 1590px;
  height: 1100px;
  margin-left: -200px;
}

mat-form-field {
  height: 85px;
}
